@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-01: hsl(215, 95%, 77%);
  --color-primary-02: hsl(215, 95%, 40%);
  --color-primary-03: hsl(215, 90%, 15%);
  --color-secondary-01: hsl(46, 100%, 81%);
  --color-secondary-02: hsl(46, 100%, 61%);
  --color-secondary-03: hsl(46, 100%, 24%);
  --color-tertiary-01: hsl(0, 0%, 96%);
  --color-tertiary-02: hsl(0, 0%, 74%);
  --color-tertiary-03: hsl(0, 0%, 18%);

  --font-lato: var(--font-import-lato);
  --font-noto: var(--font-import-noto);
}

@layer base {
  h1 {
    @apply font-lato text-6xl font-bold;
  }

  h2 {
    @apply font-lato text-5xl font-bold;
  }

  h3 {
    @apply font-lato text-4xl font-medium;
  }

  h4 {
    @apply font-lato text-3xl font-medium;
  }

  h5 {
    @apply font-lato text-2xl font-medium;
  }

  h6 {
    @apply font-lato text-xl font-medium;
  }

  button {
    @apply cursor-pointer;
  }
}
